<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <style>
        #info {
            border-style: solid;
            width: 100px;
            height: 20px;
            align-items: center;
            justify-content: center;
        }

        #events {
            border-style: solid;
        }

        /* #accountdeets {} */
    </style>
    <!-- <script src="../server.js"></script> -->
</head>

<body>
    <div id="info">Acounts info</div>
    <button onclick="window.location.href='/index.html'">Home Page</button>
    <div>
        <h2>History!<button onclick="clearEvents()">clear all</button></h2>
    </div>
    <div id="events"></div>
    <div id="accountdeets">
        <h2>User Profile</h2>
        <h5>Username</h5>
        <input type="text" id="username" value="<%= username %>" disabled>
        <h5>First Name</h5>
        <input type="text" id="firstname" value="<%= firstname %>" disabled>
        <h5>Last Name</h5>
        <input type="text" id="lastname" value="<%= lastname %>" disabled>
        <h5>Age</h5>
        <input type="number" id="age" value="<%= age %>" disabled>
    </br>
        <button id="logout" onclick="logout()">Logout</button>
        <button id="home"
    </div>
    <h3>Your shopping cart</h3>
    <div class="cart"></div>
</body>
<script type="text/javascript" src="server.js"></script>
<script type="text/javascript" src="cart.js"></script>

</html>