<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div id="adminnav">
        <button id="home" type="button" onclick="window.location.href='/'">Home</button>  
        <h2>Accounts</h2>
    </div>

    <div id="userlist" class="row">
        <p>User</p>
        <p>Name</p>
        <p>Admin</p>
      </div>
      <div id="users-container"></div>
</body>
<script src="/public/admin.js"></script>
</html>